:root {
  font-family: "Oxygen", system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;
  scroll-behavior: smooth;

  background-color: var(--color-pallette-bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Semantic naming */

  --color-pallette-primary-blue: #579aff;
  --color-pallette-primary-accent: #408cff;
  --color-pallette-success: #157f40;
  --color-pallette-danger: #cf3426;

  /* Background */

  --color-pallette-bg-primary: #f6faff;
  --color-pallette-bg-secondary: #b0b0b0;
  --color-pallette-bg-accent: #f6f6f6;

  /* shades */

  --color-pallette-shades-primary: #858585;
  --color-pallette-shades-secondary: #b3b3b3;
  --color-pallette-shades-accent: #efefef;

  /* Fonts */

  --color-pallette-font-primary: #4a4a4a;
  --color-pallette-font-secondary: #515151;
  --color-pallette-font-tertiary: #9e9e9e;

  /* Borders */

  --color-pallette-border-primary: #c5c5c5;
  --color-pallette-border-secondary: #f3f3f3;
}

.font-fira {
  font-family: "Fira Code", system-ui, Arial, sans-serif;
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/FiraCode/static/FiraCode-Light.ttf");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./assets/fonts/FiraCode/static/FiraCode-Regular.ttf");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/FiraCode/static/FiraCode-SemiBold.ttf");
}

@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./assets/fonts/FiraCode/static/FiraCode-Bold.ttf");
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("./assets/fonts/Oxygen/Oxygen-Light.ttf");
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("./assets/fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("./assets/fonts/Oxygen/Oxygen-Bold.ttf");
}

@-webkit-keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  position: absolute;
  margin: -18px 0 0 -18px;
  border: 4px solid var(--color-pallette-primary-blue);
  box-sizing: border-box;
  overflow: hidden;
  width: 36px;
  height: 36px;
  left: 50%;
  top: 50%;
  animation: loader-spin 2s linear infinite reverse;
  filter: url(#goo);
  box-shadow: 0 0 0 1px var(--color-pallette-primary-blue) inset;
}

.loader:before {
  content: "";
  position: absolute;
  -webkit-animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  animation: loader-spin 2s cubic-bezier(0.59, 0.25, 0.4, 0.69) infinite;
  background: var(--color-pallette-primary-blue);
  transform-origin: top center;
  border-radius: 50%;
  width: 150%;
  height: 150%;
  top: 50%;
  left: -12.5%;
}

.background-cover-clip {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.animate-slide-up {
  animation: slide-up 0.25s ease-out;
}
