@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  background-color: #f9fafb;
  color: #111827;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

small {
  font-size: 13px;
}
