@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  a {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-blue-500/40 focus-visible:ring-offset-2;
  }
}

body {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  background-color: #f9fafb;
  color: #111827;
}
